.about {
    flex: 1;
    height: 95%;
    width: 755px;
    overflow-y: scroll;
    border: 3px solid #5A189A;
    background-color: white;
    -webkit-box-shadow: inset -5px -5px 0px 5px rgba(90,24,154,0.5); 
    box-shadow: inset -5px -5px 0px 5px rgba(90,24,154,0.5);
    z-index: 0;
}

.page_title {
    font-size: 3em;
    padding: 2rem;
}

.self_image {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    flex: 1;
}

.self_desc {
    flex: 1;
}
