.about {
    flex: 1;
    height: 95vh;
    overflow-y: scroll;
    border: 3px solid #5A189A;
    background-color: white;
    -webkit-box-shadow: inset -5px -5px 0px 5px rgba(90,24,154,0.5); 
    box-shadow: inset -5px -5px 0px 5px rgba(90,24,154,0.5);
    z-index: 0;
}

.page_title {
    font-family: 'ibm-plex-mono',sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    padding: 2rem;
}

.about_content {
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
    flex: 1;
}

.self_image{
    width: 200px;
    height: 400px;
}

.self_desc {
    font-family: 'ibm-plex-mono',sans-serif;
    font-weight: 400;
    font-style: normal;
    flex: 1;
}

@media (max-width: 805px) {
    .page_title {
        font-size: 2em;
    }
    .self_image{
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .page_title {
        font-size: 1.5em;
    }
    .self_desc {
        font-size: 0.75em;
    }
    .self_image{
        flex-direction: column;
    }
}